[user]
	name = Denis Poifol
	email = denis.poifol@gmail.com
[color]
	diff = auto
	branch = auto
	interactive = auto
[push]
	default = simple
[credential]
	helper = cache
[rerere]
	enabled = false
[rebase]
	autoStash = true
	autoSquash = true
	missingCommitsCheck = warn
[alias]
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	a = add -p
	s = status
	f = fetch
	c = commit
	p = pull
	stub = commit -m \"Commited stubs do not push\"
	fstub = commit -m \"fixup! Commited stubs do not push\"
	fcs = commit -m \"fixup! Commited stash do not push\"
	cs = commit -m \"Commited stash do not push\"
	cword = commit -m \"Update wording\"
	fcword = commit -m \"fixup! Update wording\"
	amend = commit --amend
	fixup = commit --fixup
